In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('turkey_climate_data_2017_2020.csv')
df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNWD,TAVG,TMAX,TMIN
0,TUM00017204,"MUS, TU",38.733,41.517,1320.0,2017-01-01,0.09,27.2,14,17.0,6.0
1,TUM00017204,"MUS, TU",38.733,41.517,1320.0,2017-01-02,0.03,26.8,15,18.0,14.0
2,TUM00017204,"MUS, TU",38.733,41.517,1320.0,2017-01-03,0.03,25.6,16,19.0,13.0
3,TUM00017204,"MUS, TU",38.733,41.517,1320.0,2017-01-04,0.03,24.8,17,19.0,11.0
4,TUM00017204,"MUS, TU",38.733,41.517,1320.0,2017-01-05,0.00,23.6,20,24.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...
75649,TUM00017080,"CANKIRI, TU",40.600,33.617,751.0,2020-12-28,NaN,NaN,40,46.0,29.0
75650,TUM00017080,"CANKIRI, TU",40.600,33.617,751.0,2020-12-29,NaN,NaN,45,53.0,35.0
75651,TUM00017080,"CANKIRI, TU",40.600,33.617,751.0,2020-12-30,NaN,NaN,44,53.0,29.0
75652,TUM00017080,"CANKIRI, TU",40.600,33.617,751.0,2020-12-31,NaN,NaN,45,53.0,29.0
75653,TUM00017080,"CANKIRI, TU",40.600,33.617,751.0,2021-01-01,NaN,NaN,44,54.0,31.0

In [7]:
df.isnull().sum()

STATION          0
NAME             0
LATITUDE         0
LONGITUDE        0
ELEVATION        0
DATE             0
PRCP         26744
SNWD         70828
TAVG             0
TMAX         43747
TMIN         20725
dtype: int64

In [5]:
df["NAME"].unique()

array(['MUS, TU', 'BINGOL, TU', 'ELAZIG, TU', 'HAKKARI, TU', 'TOKAT, TU',
       'CORUM, TU', 'BATMAN, TU', 'KONYA, TU', 'KASTAMONU, TU',
       'ARTVIN, TU', 'GUMUSHANE, TU', 'EDIRNE, TU', 'MUGLA, TU',
       'ERZINCAN, TU', 'KARS, TU', 'ANKARA CENTRAL, TU', 'ERZURUM, TU',
       'NIGDE, TU', 'ISKENDERUN, TU', 'KAHRAMANMARAS, TU', 'TEKIRDAG, TU',
       'SIIRT, TU', 'ISPARTA, TU', 'AGRI, TU', 'SIVAS, TU', 'FINIKE, TU',
       'SINOP, TU', 'MERSIN, TU', 'YOZGAT, TU', 'VAN, TU', 'OGUZELI, TU',
       'ADAPAZARI, TU', 'ANTALYA, TU', 'USAK, TU', 'ADIYAMAN, TU',
       'ZONGULDAK, TU', 'IZMIR GUZELYALI, TU', 'NEVSEHIR, TU',
       'SANLIURFA, TU', 'BOLU, TU', 'AFYON, TU', 'BURSA, TU',
       'DENIZLI, TU', 'SAMSUN, TU', 'BALIKESIR, TU', 'AYDIN, TU',
       'CANAKKALE, TU', 'GIRESUN, TU', 'KUTAHYA, TU', 'KIRSEHIR, TU',
       'DIYARBAKIR, TU', 'CANKIRI, TU'], dtype=object)