In [69]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn import svm
from sklearn.neural_network import MLPRegressor, MLPClassifier

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
data = pd.read_csv("fire_data_turkey.csv")
data

,Date,City,Year,Month,Day,AvgDWS,Visibility,MaxSusWS,MaxWG,Weather type,TempAvgCel,TempMaxCel,TempMinCel,PrecipitationCm,DewPntCel,Fire
0,2010-01-01,Adana,2010,1,1,3.80,6.0,10.24,NaN,NaN,13.9,19.0,7.0,NaN,8.8,0
1,2010-01-01,Şanlıurfa,2010,1,1,6.21,4.0,14.96,NaN,NaN,14.2,20.2,6.6,0.00,-1.3,0
2,2010-01-01,Giresun,2010,1,1,7.83,6.0,16.11,NaN,"Rain/Drizzle, Thunder",27.9,33.2,23.0,0.03,22.4,0
3,2010-01-01,Gümüşhane,2010,1,1,5.41,6.0,14.96,NaN,Rain/Drizzle,17.4,25.5,11.0,0.00,8.7,0
4,2010-01-01,Sivas,2010,1,1,4.14,4.0,9.21,NaN,NaN,16.6,23.0,12.0,0.00,9.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132464,2015-12-31,Ağrı,2015,12,31,5.98,6.0,13.81,NaN,NaN,29.3,35.0,25.0,NaN,22.9,0
132465,2015-12-31,Adana,2015,12,31,6.33,6.0,13.81,NaN,NaN,28.4,34.0,23.0,NaN,20.2,0
132466,2015-12-31,Siirt,2015,12,31,5.06,6.0,12.77,NaN,NaN,20.3,25.4,14.5,0.00,14.8,0
132467,2015-12-31,Ankara,2015,12,31,5.06,6.0,16.11,NaN,"Rain/Drizzle, Thunder",23.7,30.1,19.5,0.79,18.7,0
132468,2015-12-31,Bolu,2015,12,31,2.53,5.0,8.06,NaN,NaN,10.3,20.0,3.0,NaN,2.8,0

In [54]:
normalized_data_df = data.copy()

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132469 entries, 0 to 132468
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             132469 non-null  object
 1   City             132469 non-null  object
 2   Year             132469 non-null  int64
 3   Month            132469 non-null  int64
 4   Day              132469 non-null  int64
 5   AvgDWS           132469 non-null  float64
 6   Visibility       132469 non-null  float64
 7   MaxSusWS         127029 non-null  float64
 8   MaxWG            4983 non-null    float64
 9   Weather type     27230 non-null   object
 10  TempAvgCel       132469 non-null  float64
 11  TempMaxCel       132469 non-null  float64
 12  TempMinCel       132469 non-null  float64
 13  PrecipitationCm  75214 non-null   float64
 14  DewPntCel        132468 non-null  float64
 15  Fire             132469 non-null  int64
dtypes: float64(9), int64(4), object(3)
memory usage: 16.2+ MB

In [56]:
normalized_data_df = normalized_data_df[normalized_data_df['PrecipitationCm'].notna()]
normalized_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75214 entries, 1 to 132467
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             75214 non-null  object
 1   City             75214 non-null  object
 2   Year             75214 non-null  int64
 3   Month            75214 non-null  int64
 4   Day              75214 non-null  int64
 5   AvgDWS           75214 non-null  float64
 6   Visibility       75214 non-null  float64
 7   MaxSusWS         74202 non-null  float64
 8   MaxWG            3912 non-null   float64
 9   Weather type     27230 non-null  object
 10  TempAvgCel       75214 non-null  float64
 11  TempMaxCel       75214 non-null  float64
 12  TempMinCel       75214 non-null  float64
 13  PrecipitationCm  75214 non-null  float64
 14  DewPntCel        75214 non-null  float64
 15  Fire             75214 non-null  int64
dtypes: float64(9), int64(4), object(3)
memory usage: 9.8+ MB

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [57]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
 
le = LabelEncoder()
label = le.fit_transform(normalized_data_df['Weather type'])
normalized_data_df.drop("Weather type", axis=1, inplace=True)
normalized_data_df["Weather type"] = label

label = le.fit_transform(normalized_data_df['City'])
normalized_data_df.drop("City", axis=1, inplace=True)
normalized_data_df["City"] = label

In [58]:
def normalizer(values):
  values = values.reshape((len(values), 1))
  scaler = MinMaxScaler(feature_range=(0, 1))
  scaler = scaler.fit(values)
  normalized = scaler.transform(values)

  return normalized

In [59]:
normalized_data_df['Day'] = normalizer(normalized_data_df.Day.values)
normalized_data_df['Month'] = normalizer(normalized_data_df.Month.values)
normalized_data_df['Year'] = normalizer(normalized_data_df.Year.values)
normalized_data_df['AvgDWS'] = normalizer(normalized_data_df.AvgDWS.values)
normalized_data_df['Visibility'] = normalizer(normalized_data_df.Visibility.values)
normalized_data_df['MaxWG'] = normalizer(normalized_data_df.MaxWG.values)
normalized_data_df['MaxSusWS'] = normalizer(normalized_data_df.MaxSusWS.values)
normalized_data_df['PrecipitationCm '] = normalizer(normalized_data_df.PrecipitationCm .values)
normalized_data_df['TempAvgCel'] = normalizer(normalized_data_df.TempAvgCel.values)
normalized_data_df['TempMaxCel'] = normalizer(normalized_data_df.TempMaxCel.values)
normalized_data_df['TempMinCel'] = normalizer(normalized_data_df.TempMinCel.values)
normalized_data_df['DewPntCel'] = normalizer(normalized_data_df.DewPntCel.values)

In [60]:
normalized_data_df

,Date,Year,Month,Day,AvgDWS,Visibility,MaxSusWS,MaxWG,TempAvgCel,TempMaxCel,TempMinCel,PrecipitationCm,DewPntCel,Fire,Weather type,City,PrecipitationCm
1,2010-01-01,0.0,0.0,0.0,0.266512,0.4,0.406349,NaN,0.317857,0.360119,0.262069,0.00,0.356627,0,8,59,0.00000
2,2010-01-01,0.0,0.0,0.0,0.360371,0.8,0.451984,NaN,0.807143,0.747024,0.827586,0.03,0.927711,0,6,23,0.00375
3,2010-01-01,0.0,0.0,0.0,0.220162,0.8,0.406349,NaN,0.432143,0.517857,0.413793,0.00,0.597590,0,3,24,0.00000
4,2010-01-01,0.0,0.0,0.0,0.146582,0.4,0.178175,NaN,0.403571,0.443452,0.448276,0.00,0.624096,0,8,51,0.00000
5,2010-01-01,0.0,0.0,0.0,0.066628,0.8,0.086508,NaN,0.667857,0.711310,0.600000,0.00,0.693976,0,8,25,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132458,2015-12-31,1.0,1.0,1.0,0.186559,0.8,0.319444,NaN,0.821429,0.788690,0.793103,0.00,0.893976,0,8,51,0.00000
132462,2015-12-31,1.0,1.0,1.0,0.253187,0.8,0.360714,NaN,0.707143,0.651786,0.720690,0.00,0.862651,1,8,41,0.00000
132463,2015-12-31,1.0,1.0,1.0,0.066628,0.8,0.178175,NaN,0.407143,0.473214,0.331034,0.00,0.559036,0,8,23,0.00000
132466,2015-12-31,1.0,1.0,1.0,0.199884,0.8,0.319444,NaN,0.535714,0.514881,0.534483,0.00,0.744578,0,8,49,0.00000
132467,2015-12-31,1.0,1.0,1.0,0.199884,0.8,0.451984,NaN,0.657143,0.654762,0.706897,0.79,0.838554,0,6,4,0.09875

In [61]:
del normalized_data_df['Date'], normalized_data_df['MaxSusWS'], normalized_data_df['MaxWG'], normalized_data_df['Weather type']

In [62]:
X = normalized_data_df.drop('Fire', axis=1)
y = normalized_data_df['Fire']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

In [67]:
lin_reg_model = LinearRegression()
lin_reg_model.fit(X_train, y_train)

print("Linear Regression R^2: {:.5f}".format(lin_reg_model.score(X_test, y_test)))

Linear Regression R^2: 0.01978

In [64]:
lin_clf_model = LogisticRegression()
lin_clf_model.fit(X_train, y_train)

print("Linear Classification Accuracy: {:.2f}%".format(lin_clf_model.score(X_test, y_test) * 100))

Linear Classification Accuracy: 89.56%

In [65]:
nn_clf_model = MLPClassifier(hidden_layer_sizes=(16,16))
nn_clf_model.fit(X_train, y_train)

print("NN Classification Accuracy: {:.2f}%".format(nn_clf_model.score(X_test, y_test) * 100))

NN Classification Accuracy: 89.86%

In [71]:
from sklearn.metrics import classification_report

In [73]:
svm_model = svm.LinearSVC()
svm_model.fit(X_train, y_train)
print("SVM Accuracy: {:.2f}%".format(svm_model.score(X_test, y_test) * 100))

SVM Accuracy: 89.56%

In [74]:
svm_model_acc = svm_model.predict(X_test)
print(classification_report(y_test, svm_model_acc))

              precision    recall  f1-score   support

           0       0.90      1.00      0.94     20209
           1       0.00      0.00      0.00      2356

    accuracy                           0.90     22565
   macro avg       0.45      0.50      0.47     22565
weighted avg       0.80      0.90      0.85     22565